---
- name: Install latest package
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - docker-ce
    - rpm
    - python3-venv
    # - python3-ipython
    # - ipython3
  when: ansible_distribution == 'Ubuntu'

- name: Update all packages to the latest
  apt:
    name: "*"
    state: latest
    update_cache: yes
  when: ansible_distribution == 'Ubuntu'


- name: Clean all apt packages
  apt:
    clean: yes
  when: ansible_distribution == 'Ubuntu'



# - name: Upgrading Software
#   expect:
#     command: do-release-upgrade
#     responses:
#       'First Question in the prompt' : 'y'
#       'Second Question in the prompt' : 'y'


# - name: Upgrade entire distribution
#   apt:
#     upgrade: dist
#     update_cache: yes